<a href="https://colab.research.google.com/github/zara0128/class2022spring/blob/main/20220328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install gradio
import gradio as gr
import requests
import pandas as pd

Requirement already satisfied: gradio in /usr/local/lib/python3.7/dist-packages (2.9.1)
Requirement already satisfied: pycryptodome in /usr/local/lib/python3.7/dist-packages (from gradio) (3.14.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from gradio) (1.3.5)
Requirement already satisfied: ffmpy in /usr/local/lib/python3.7/dist-packages (from gradio) (0.3.0)
Requirement already satisfied: pydub in /usr/local/lib/python3.7/dist-packages (from gradio) (0.25.1)
Requirement already satisfied: orjson in /usr/local/lib/python3.7/dist-packages (from gradio) (3.6.7)
Requirement already satisfied: fastapi in /usr/local/lib/python3.7/dist-packages (from gradio) (0.75.1)
Requirement already satisfied: markdown-it-py[linkify,plugins] in /usr/local/lib/python3.7/dist-packages (from gradio) (2.0.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from gradio) (3.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from gradio) (1.21.5)
Requirement already satisfied: paramiko in /usr/local/lib/python3.7/dist-packages (from gradio) (2.10.3)
Requirement already satisfied: pillow in /usr/local/lib/python3.7/dist-packages (from gradio) (7.1.2)
Requirement already satisfied: uvicorn in /usr/local/lib/python3.7/dist-packages (from gradio) (0.17.6)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gradio) (2.23.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.7/dist-packages (from gradio) (3.8.1)
Requirement already satisfied: analytics-python in /usr/local/lib/python3.7/dist-packages (from gradio) (1.4.0)
Requirement already satisfied: python-multipart in /usr/local/lib/python3.7/dist-packages (from gradio) (0.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gradio) (1.7.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gradio) (21.4.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gradio) (6.0.2)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gradio) (0.13.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gradio) (3.10.0.2)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gradio) (1.2.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gradio) (4.0.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gradio) (1.3.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gradio) (2.0.12)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp->gradio) (2.10)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from analytics-python->gradio) (1.15.0)
Requirement already satisfied: python-dateutil>2.1 in /usr/local/lib/python3.7/dist-packages (from analytics-python->gradio) (2.8.2)
Requirement already satisfied: monotonic>=1.5 in /usr/local/lib/python3.7/dist-packages (from analytics-python->gradio) (1.6)
Requirement already satisfied: backoff==1.10.0 in /usr/local/lib/python3.7/dist-packages (from analytics-python->gradio) (1.10.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gradio) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gradio) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gradio) (3.0.4)
Requirement already satisfied: starlette==0.17.1 in /usr/local/lib/python3.7/dist-packages (from fastapi->gradio) (0.17.1)
Requirement already satisfied: pydantic!=1.7,!=1.7.1,!=1.7.2,!=1.7.3,!=1.8,!=1.8.1,<2.0.0,>=1.6.2 in /usr/local/lib/python3.7/dist-packages (from fastapi->gradio) (1.9.0)
Requirement already satisfied: anyio<4,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from starlette==0.17.1->fastapi->gradio) (3.5.0)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.7/dist-packages (from anyio<4,>=3.0.0->starlette==0.17.1->fastapi->gradio) (1.2.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.7/dist-packages (from markdown-it-py[linkify,plugins]->gradio) (0.1.0)
Requirement already satisfied: mdit-py-plugins in /usr/local/lib/python3.7/dist-packages (from markdown-it-py[linkify,plugins]->gradio) (0.3.0)
Requirement already satisfied: linkify-it-py~=1.0 in /usr/local/lib/python3.7/dist-packages (from markdown-it-py[linkify,plugins]->gradio) (1.0.3)
Requirement already satisfied: uc-micro-py in /usr/local/lib/python3.7/dist-packages (from linkify-it-py~=1.0->markdown-it-py[linkify,plugins]->gradio) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->gradio) (3.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->gradio) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->gradio) (1.4.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->gradio) (2018.9)
Requirement already satisfied: cryptography>=2.5 in /usr/local/lib/python3.7/dist-packages (from paramiko->gradio) (36.0.2)
Requirement already satisfied: bcrypt>=3.1.3 in /usr/local/lib/python3.7/dist-packages (from paramiko->gradio) (3.2.0)
Requirement already satisfied: pynacl>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from paramiko->gradio) (1.5.0)
Requirement already satisfied: cffi>=1.1 in /usr/local/lib/python3.7/dist-packages (from bcrypt>=3.1.3->paramiko->gradio) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.1->bcrypt>=3.1.3->paramiko->gradio) (2.21)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.7/dist-packages (from uvicorn->gradio) (7.1.2)
Requirement already satisfied: asgiref>=3.4.0 in /usr/local/lib/python3.7/dist-packages (from uvicorn->gradio) (3.5.0)
Requirement already satisfied: h11>=0.8 in /usr/local/lib/python3.7/dist-packages (from uvicorn->gradio) (0.13.0)

In [2]:
requests.get('http://apis.data.go.kr/B551177/AviationStatsByAirline/getTotalNumberOfFlight?serviceKey=Zjqp%2Be%2BzEDVzAYMhYka7ej8naRCZOH2lxR9Z6vVaSX8Ndj8hiLgeTIY%2FYkjAy5YG4LWPOc66Ho9ARN9AoxgAuQ%3D%3D&from_month=201405&to_month=201405&periodicity=0&pax_cargo=Y&domestic_foreign=I&type=json')

In [3]:
response = requests.get('http://apis.data.go.kr/B551177/AviationStatsByAirline/getTotalNumberOfFlight?serviceKey=Zjqp%2Be%2BzEDVzAYMhYka7ej8naRCZOH2lxR9Z6vVaSX8Ndj8hiLgeTIY%2FYkjAy5YG4LWPOc66Ho9ARN9AoxgAuQ%3D%3D&from_month=201405&to_month=201405&periodicity=0&pax_cargo=Y&domestic_foreign=I&type=json')
response

In [8]:
def AviationStatsByAirline(airline):
    URL = ( 'http://apis.data.go.kr/B551177/AviationStatsByAirline/getTotalNumberOfFlight?serviceKey=Zjqp%2Be%2BzEDVzAYMhYka7ej8naRCZOH2lxR9Z6vVaSX8Ndj8hiLgeTIY%2FYkjAy5YG4LWPOc66Ho9ARN9AoxgAuQ%3D%3D&from_month=201405&to_month=201405&periodicity=0&pax_cargo=Y&domestic_foreign=I&type=json')
    response = requests.get(URL)

In [ ]:
r=response.json()
r

In [11]:
items = r['response']['body']['items']

airline = [item['airline'] for item in items]
airlineCode = [item['airlineCode'] for item in items]
arrFlights = [item['arrFlights'] for item in items]
depFlights = [item['depFlights'] for item in items]

airline = pd.Series(airline)
airlineCode = pd.Series(airlineCode)   
arrFlights = pd.Series(arrFlights)
depFlights = pd.Series(depFlights)
    
df = pd.DataFrame({ '항공사': airline, '항공사코드': airlineCode, '도착': arrFlights, '출발': depFlights})
df

             항공사 항공사코드     도착     출발
0      KLM네덜란드항공    KL     26     27
1       가루다인도네시아    GA     62     62
2        다이나믹 에어    D2      2      1
3           대한항공    KE  2,950  2,953
4           델타항공    DL     31     31
5           라오항공    QV     19     19
6     루프트한자 독일항공    LH     58     58
7          만다린항공    AE     31     31
8       말레이시아 항공    MH     31     31
9           몽골항공    OM     27     27
10        바닐라 에어    JW     62     62
11         베트남항공    VN    121    121
12        비즈니스에어    8B     54     54
13          사천항공    3U      9      9
14          산동항공    SC    111    111
15         상하이항공    FM     31     31
16          샤먼항공    MF     13     13
17       세부퍼시픽항공    5J     87     87
18    스카이 앙코르 항공    ZA      2      2
19         스쿳 항공    TZ     13     13
20          심천항공    ZH     36     36
21        싱가포르항공    SQ    155    155
22        아메리칸항공    AA     31     31
23        아시아나항공    OZ  2,409  2,409
24  아에로플로트 러시아항공    SU     31     31
25       에미레이트항공    EK     31     32
26          에바항공    BR     62     62
27       에어 아스타나    KC     10     10
28        에어 프랑스    AF     31     31
29         에어마카우    NX     48     48
30       에어아시아엑스    D7     31     31
31    에어인디아 리미티드    AI     17     17
32       에티오피아항공    ET     17     17
33       에티하드 항공    EY     31     31
34          영국항공    BA     31     31
35         오로라항공    HZ     52     52
36      우즈베키스탄항공    HY      9      9
37       유나이티드항공    UA     62     62
38         이스타항공    ZE    174    173
39          일본항공    JL     62     62
40          제주항공    7C    416    416
41        중국국제항공    CA    278    278
42        중국남방항공    CZ    443    443
43        중국동방항공    MU    302    303
44          중화항공    CI     49     49
45           진에어    LJ    207    205
46          천진항공    GS     31     31
47          체코항공    OK     18     18
48         카타르항공    QR     31     31
49         캐나다항공    AC     31     31
50      캐세이패시픽항공    CX    172    171
51          타이항공    TG    178    178
52          터키항공    TK     50     49
53         티웨이항공    TW     97     97
54          피치항공    MM     84     84
55           핀에어    AY     31     31
56      필리핀에어아시아    Z2    153    153
57         필리핀항공    PR    155    155
58       하와이안 항공    HA     25     25
59       홍콩익스프레스    UO     58     58

In [ ]:
iface = gr.Interface(AviationStatsByAirline, gr.inputs.Dropdown(['KLM네덜란드항공', '가루다인도네시아', '다이나믹 에어', '대한항공', '델타항공', '라오항공', '루프트한자 독일항공	', '만다린항공', '말레이시아항공', '몽골항공', '바닐라 에어', '베트남항공', '비즈니스에어', '사천항공', '산동항공', '상하이항공', '샤먼항공']), outputs=['dataframe'])
iface.launch(debug=True)

Colab notebook detected. This cell will run indefinitely so that you can see errors and logs. To turn off, set debug=False in launch().
Running on public URL: https://39511.gradio.app

This share link expires in 72 hours. For free permanent hosting, check out Spaces (https://huggingface.co/spaces)